= form_for [:admin, @article], html: { id: nil, multipart: true } do |f|
  = token_tag form_authenticity_token

  = f.file_field :avatar

  .row.modal-footer
    = close_button
    = f.submit 'Save', class: 'btn btn-primary'
