%li.alternated.list-group-item.clearfix{ id: dom_id(article) }
  .row
    .col-md-8
      %h1.h3.lobster
        = article.localized_or_default_title
      = article.tags_with_icon
    .col-md-2
      = article.localized_publishing_date
    .col-md-2.text-right
      = link_to_if article.published?, '', article_path(article.slug),
          class: 'btn btn-default glyphicon glyphicon-eye-open', 
          target: '_blank', rel: 'preview'
      = link_to '', [:edit, :admin, article], 
          class: 'btn btn-default glyphicon glyphicon-pencil'
      = link_to '', [:admin, article], remote: true, method: :destroy, 
          class: 'btn btn-default glyphicon glyphicon-trash'
