= render partial: 'shared/errors', object: @article.errors
= form_for [:admin, @article], html: { id: nil, class: 'article' } do |f|
  .row
    .btn-group.round.col-xs-12.col-md-8
      = f.submit class: 'btn btn-default'
      = link_to t('.preview'), @article, class: 'btn btn-default'
      = link_to t('.back'), admin_articles_path, class: 'btn btn-default'
    .col-xs-12.col-md-4
      .form-group
        .row.text-right
          = f.label :published_at
        .row.pull-right
          .input-group.text-right
            = f.datetime_local_field :published_at, class: 'form-control'
            %span.input-group-addon
              %span.glyphicon.glyphicon-calendar{ "aria-hidden" => true }
  .row
    .form-group.col-xs-6
      = f.label :title
      = f.text_field :title, class: 'form-control'
  .row
    .form-group.col-xs-8= f.text_area :content, rows: 40, class: 'form-control'
