= render partial: 'shared/errors', object: @article.errors
= form_for [:admin, @article] do |f|
  .row.collapse
    %ul.button-group.round.small-12.large-8.columns
      %li= f.submit class: 'button'
      %li= link_to t('.preview'), @article, class: 'button'
      %li= link_to t('.back'), admin_articles_path, class: 'button'
    .right.small-12.large-4.columns
      = f.label :published_at
      = f.datetime_local_field :published_at
  .row.collapse.prefix-radius
    .small-2.large-1.columns= f.label :title, class: 'prefix'
    .small-10.large-11.columns= f.text_field :title
  .row.collapse= f.text_area :content, rows: 50
