.messages.alert
= form_for [:admin, @article], remote: true, 
    html: { id: nil, class: 'admin article' } do |f|
  .row
    .col-md-6.col-xs-12
      .col-xs-12.col-md-8.btn-group.round
        = f.submit class: 'btn btn-default'
        = link_to t('.preview'), @article, 
              class: 'btn btn-default' unless @article.new_record?
        = link_to t('.back'), admin_articles_path, class: 'btn btn-default'
      .form-group.input-group.col-xs-12.col-md-4
        %i.glyphicon.glyphicon-search.pre.form-control-mark
        = text_field_tag "article[tag_names]", nil, autocomplete: 'off', 
            id: nil, class: 'form-control tag search', placeholder: 'Tags',
            data: { search: admin_tags_path }
        %span.input-group-addon
          = link_to '', admin_tags_path, class: 'glyphicon glyphicon-list-alt',
              remote: true
    .col-xs-12.col-md-4
      .form-group
        .row.text-right
          = f.label :published_at
        .row.pull-right
          .input-group.text-right
            = f.datetime_local_field :published_at, class: 'form-control'
            %span.input-group-addon.pointer
              %span.glyphicon.glyphicon-calendar{ "aria-hidden" => true }
  .row
    .tags.col-xs-12
      = hidden_field_tag 'article[tag_ids][]', nil, id: nil
      = render partial: 'tag', collection: @article.tags

  .row
    .col-sm-6.col-xs-12
      .form-group
        = f.label :title_en, t('.english')
        = f.text_field :title_en, class: 'form-control',
            placeholder: Article.human_attribute_name('title')
      .form-group
        = f.text_area :content_en, rows: 40, class: 'form-control',
            placeholder: Article.human_attribute_name('content')
    .col-sm-6.col-xs-12
      .form-group
        = f.label :title_de, t('.german')
        = f.text_field :title_de, class: 'form-control', 
            placeholder: Article.human_attribute_name('title')
      .form-group
        = f.text_area :content_de, rows: 40, class: 'form-control',
            placeholder: Article.human_attribute_name('content')
