- content_for :title, @localized_article.title
- content_for :description, @localized_article.title
%header
  %time{ datetime: l(@localized_article.published_on) }
    = l @localized_article.published_on, format: :long
- present(@localized_article, ArticlePresenter) do |article_presenter|
  %article
    %h1.lobster= @localized_article.title
    = article_presenter.tags_with_icon
    .text
      = preserve { MarkdownService.call @localized_article.content }
  %footer
    = link_to_share_social :twitter, via: 'chrissonar', 
        url: article_presenter.url, text: @localized_article.title
    = link_to_share_social :googleplus, url: article_presenter.url
    = link_to_share_social :facebook, u: article_presenter.url
