- present(@article, ArticlePresenter) do |article_presenter|
  - content_for :title, @article.title
  - content_for :description, @article.title
  - content_for :meta do
    %meta{ property: 'og:title', content: @article.title }
    %meta{ property: 'og:description', content: @article.summary }
    %meta{ property: 'og:image', content: @article.image.thumb.url }
    %meta{ property: 'twitter:card', content: 'summary' }
    %meta{ name: 'twitter:site', content: '@chrissonar' }


  %header
    %figure=# image_tag @localized_article.image.thumb.url
    .title
      %h1.lobster= @article.title
    = article_presenter.tags_with_icon


  %article.clearfix
    %time{ datetime: l(@article.published_at) }
      = l @article.published_at.to_date, format: :long
    .text
      = preserve { MarkdownService.call @article.text }

  %footer
    %span= t('.share')
    = link_to_share_social :twitter, via: 'chrissonar', 
        url: article_presenter.url, 
        text: @article.title

    = link_to_share_social :googleplus, url: article_presenter.url
    = link_to_share_social :facebook, u: article_presenter.url, 
        title: @article.title, summary: @article.summary

    .related_articles
      = article_presenter.render_related_article :previous
      = article_presenter.render_related_article :next

