- present(@localized_article, ArticlePresenter) do |article_presenter|
  - content_for :title, @localized_article.title
  - content_for :description, @localized_article.title
  - content_for :meta do
    %meta{ property: 'og:title', content: @localized_article.title }
    %meta{ property: 'og:description', content: @localized_article.summary }
    %meta{ property: 'og:image', content: nil }
    %meta{ property: 'twitter:card', content: 'summary' }
    %meta{ name: 'twitter:site', content: '@chrissonar' }


  %header
    %figure=
    .title
      %h1.lobster= @localized_article.title
    = article_presenter.tags_with_icon


  %article.clearfix
    %time{ datetime: l(@localized_article.published_on) }
      = l @localized_article.published_on, format: :long
    .text
      = preserve { MarkdownService.call @localized_article.content }

  %footer
    %span= t('.share')
    = link_to_share_social :twitter, via: 'chrissonar', 
        url: article_presenter.url, 
        text: @localized_article.title

    = link_to_share_social :googleplus, url: article_presenter.url
    = link_to_share_social :facebook, u: article_presenter.url, 
        title: @localized_article.title, summary: @localized_article.summary
