%table{ cellspacing: 0, cellpadding: 0, border: 0 }
  %tbody
    %tr
      %td{ colspan: 2, style: td_styles }
        = b 'Christian Rolle', 'font-size' => '14pt'
        %br
        = div 'Senior Software Engineer', 'font-size' => '9pt'
    %tr
      %td{ colspan: 2, style: td_styles }
        = div 'Lübecker Strasse 115', 'padding-top' => '10px', 'letter-spacing' => '0.3pt'
        = div '19069  Schwerin', 'letter-spacing' => '2.7pt'
    %tr
      %td{ style: td_styles('width' => '6em') }
        = 'Tel.'
      %td{ style: td_styles }
        = link_to('+49 176 52172910', 'tel:+4917652172910')
    %tr
      %td{ style: td_styles('width' => '6em') }
        = 'Email'
      %td{ style: td_styles }
        = link_to('rolle.christian@gmail.com', 'mailto:rolle.christian@gmail.com')

    %tr
      %td{ colspan: 2, style: td_styles }
        = link_to_icon :Twitter, 'https://www.twitter.com/chrissonar'
        = link_to_icon :GooglePlus, 'https://www.plus.google.com/u/0/+ChristianRolle'
        = link_to_icon :Github, 'https://www.github.com/christianrolle'
        = link_to_icon :LinkedIn, 'https://www.linkedin.com/in/christian-rolle-5927455a'

