%li.alternated.list-group-item.clearfix{ id: dom_id(translated_article) }
  .row
    .col-md-8
      %h1.h3.lobster
        = translated_article.title
      = present(translated_article, ArticlePresenter).tags_with_icon
    .col-md-2
      = l translated_article.published_at.to_date, format: :short
    .col-md-2.text-right
      = link_to('', article_path(translated_article.slug), 
          rel: 'preview', class: 'btn btn-default glyphicon glyphicon-eye-open',
          target: '_blank') if translated_article.released?
      = link_to '', edit_admin_article_path(translated_article.article), 
          class: 'btn btn-default glyphicon glyphicon-pencil'
      = link_to '', admin_article_path(translated_article.article), 
          remote: true, method: :delete, 
          class: 'btn btn-default glyphicon glyphicon-trash'
