<!DOCTYPE html>
%html
  %head
    %title Christian Rolle
    %meta{ name: 'description', content: "You are looking for a full-stack Ruby on Rails web developer? Then you've come to the right place. Project management and extensive experience as a developer." }
    %meta{ name: 'author', content: 'Christian Rolle' }
    %meta{ charset: 'utf-8' }
    %meta{ name: 'viewport', content: 'width=device-width', 'initial-scale' => '1.0' }

    = favicon_link_tag gravatar_url
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag "vendor/modernizr"
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  
  %body
    .large-6.columns.large-centered= yield
